name: Robô WhatsApp (2h em 2h)

on:
  schedule:
    # Cronograma UTC (Brasília +3h)
    # 13:30 UTC = 10:30 Brasil
    # 15:30 UTC = 12:30 Brasil
    # 17:30 UTC = 14:30 Brasil
    # 19:30 UTC = 16:30 Brasil
    # Roda de Segunda (1) a Sexta (5)
    - cron: '30 13,15,17,19 * * 1-5'
  
  workflow_dispatch: # Permite clicar num botão para rodar manualmente

jobs:
  executar_robo:
    runs-on: ubuntu-latest
    
    # Aqui passamos as chaves do cofre para o código
    env:
      WHATSAPP_PHONE: ${{ secrets.WHATSAPP_PHONE }}
      WHATSAPP_APIKEY: ${{ secrets.WHATSAPP_APIKEY }}
      BRAPI_API_TOKEN: ${{ secrets.BRAPI_API_TOKEN }}
      GITHUB_ACTIONS: "true" # Avisa o app.py que é o robô

    steps:
      - name: Baixar código do repositório
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar bibliotecas
        run: pip install -r requirements.txt

      - name: Executar Monitor
        run: python app.py
